.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background: black;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

/* Custom scrollbar styles for WebKit browsers */
.category-container::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
  height: 2px;
}

.category-container::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 5px; /* Round the corners of the thumb */
}
.category-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.category-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}
