.logo a {
  color: black;
  font-size: 30px;
  text-decoration: none;
  font-family: sans-serif;
}

/* navbar.css */

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark a {
  color: #ffffff;
}

@media (max-width: 537px) {
  .navbar {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 20px;
    padding: 20px !important;
  }

  .searchBar {
    width: 287px !important;
  }
}
